$border-radius: 10px;
$anim-speed: 200ms;
$padding: 4px;
$container_padding: $padding/2;

$color-black: #0c0d0e;
$color-black2: #3E3232;
$color-black3: #1E201E;
$color-black4: #191919;
$color-black5: #232323;
$color-black6: #2C3333;
$color-black7: #2B2B2C;
$color-black8: #0D1C1C;
$color-black9: #1f2f2f;

$color-main: $color-black4;
$color-accent: #EBF9DD;
$container-color: lighten($color-main,6%);

* {
  font-family: "ShureTechMono Nerd Font Propo";
  font-size: 0.8rem;
  /* background: none; */
}

.backdrop {
  background-color: $color-main;
 
}
.wallpaper {
  border-radius: $border-radius;
}

.bar {
  background: none;
}

.main_bar {
  background-color: $color-main;
  color: $color-accent;
  margin: $padding;
  border-radius: $border-radius;
  /* margin: $padding; */
}

* .small {
  font-size: 0.7rem;
}
* .smaller {
  font-size: 0.5rem;
}

.container {
  border-radius: $border-radius;
  transition:$anim-speed;
  background-color: $container-color;
  :first-child {
    padding: $container_padding;
  }
}
.container:hover {
  transition:$anim-speed;
  background-color: lighten($container-color,3%);
}
.progress {
  color: lighten($color-accent,10%); 
}
.progress_plus {
  /* background-color: lighten($color-accent,90%); */ 
  color: darken($color-accent,40%); 
}
