/* $wallpaper: "/home/guard/Downloads/day-426+-+Brainwash+by+mendezmendez.jpg"; */

//GEN COLORS:
/* magick Pictures/wallpapers/arun-clarke-FIU-a_gq_M8-unsplash.jpg -resize 100x100 -colors 6 -format "%c" histogram:info: */

$wallpaper: "/home/olrak/Pictures/wallpapers/rui-silvestre-0Q1JpsWA4M4-unsplash.jpg";
$main-padding: 8px;
$main-bar-width: 40px;
$main-radius: 10px;
$sub-radius: 8px;
$container-padding: 6px 0;

$color-foreground: #b7b8b9;
$color-background: #0c0d0e;
$color-white: #FCFDFE;
$color-egg: #c8c8c8;
$color-yellow: #dca060;
$color-red: #e31a1c;
$color-cyan: #58dad6;
$color-wash: #44e3c6;
$color-magenta: #7067aa;
$color-purple: #9270cc;
$color-dark-magenta: #422d61;
$color-periwinkle: #CCCCFF;
$color-marigold: #eba832;
/* $color-blue: #7aa8c8; */
$color-blue: #39aaf0;
$color-green: #5a9e6d;
$color-salmon: #c95c49;
$color-pink: #ffd7d7;
$color-hot-pink: #e91f63;

$color-dark-gray: #242424;
$color-gray: #737475;
$color-grey: #2c2d2e;
$color-black: #0c0d0e;
$color-slate: #516572;
$color-sage: #69796a;
$color-leaf: #35422F;

$color-main: $color-slate;
$color-accent: $color-egg;
$color-urgent: $color-salmon;

/* $color-main: #112126; */
/* $color-accent: #78868A; */
/* $color-main: $color-yellow; */
/* $color-accent: $color-wash; */

/* *:hover { */
/* background-color: red; */
/* } */
.main {
  background-color: $color-main;
}

.grid {
  /* background-color: transparent; */
  /* background-image: radial-gradient(transparent 1px, transparentize($color-main, 0.4) 1px); */
  background-image: radial-gradient(transparent 1px, darken($color-accent, 68%) 1px);
  /* background-image: radial-gradient($color-main 1px, transparent 1px); */
  background-size: 4px 4px;
  /* padding: $container-padding; */
  /* padding: 20px; */
  /* border-radius: $sub-radius; */
  /* border-radius: $sub-radius; */
}

.grid_bright {
  /* background-color: transparent; */
  background-image: radial-gradient($color-accent 1px, transparent 1px);
  background-size: 3px 3px;
  padding: $container-padding;
  /* border-radius: $sub-radius; */
}

.backdrop {
  /* background-color: $color-main; */
  background: linear-gradient(90deg, $color-main 0%, darken($color-main, 10%) 100%);
  /* background: linear-gradient(90deg, $color-accent 0%, $color-main 80%); */
  /* background-size: 100%; */
}

.wallpaper {
  /* background: center no-repeat url("file:///home/guard/Downloads/4_FLORA.jpg"); */
  background: center no-repeat url("file://#{$wallpaper}");
  background-size: cover;
  /* background-size: 100%; */
  /* background-position: -$main-padding inherit; */
  background-position: center;
  /* background-position: center -800px; */
  border-radius: $main-radius;
  margin: $main-padding $main-padding $main-padding $main-bar-width;
  /* color: yellow; */
}

.bar {
  background: none;
  color: $color-accent;
  margin: $main-padding;
}

progress {
  background-color: $color-yellow;
  color: $color-main;
}

progressbar {
  /* background-color:yellow; */

  &>trough {
    min-width: 0.1px;
  }
}

.button {
  border-radius: $sub-radius;
  background-color: darken($color-accent, 68%);
  color: $color-accent;
  padding: $container-padding;

  &:hover {
    /* background-color: darken($color-accent,60%); */
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
  }
}

.container {
  padding: $container-padding;
}


@keyframes hover {
  0% {}

  100% {
    background-color: darken($color-accent, 60%);
  }
}

.base {
  background-color: darken($color-accent, 50%);
  border-radius: $sub-radius /2;
}

.value {
  background-color: $color-accent;
  border-radius: $sub-radius/2;
  color: $color-main;
}

.urgent {
  background-color: $color-urgent;
  color: darken($color-urgent, 32%);
}