layout {
    pane split_direction="vertical" {
        pane
    }
    pane {
        pane size=2 borderless=true {
        	plugin location="zellij:status-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:compact-bar"
        }
    }
    
}

