/* move vivladi bar to the bottom */
* {
  --cs-main-width: 200px;
  --primary-color: #74d7cb;
  --colors-secondary: color-mix(in srgb, var(--primary-color) 40%, black 60%);
  --colors-tertiary: color-mix(in srgb, var(--primary-color) 15%, black 85%);
  --colors-border: color-mix(in srgb, var(--colors-secondary) 80%, black 20%);
}

#browser #header {
  display: none;
}

.mainbar {
  position: absolute;
  background: none !important;
  border: none !important;
  bottom: 0;
  z-index: 1;
  width: 100%;
  color: var(--colorHighlightFg);
}

#webview-container {
  --background-color: var(--colorAccentBg);
  background-color: var(--colors-tertiary);
  --transition-duration: 1s !important;
  box-shadow: none !important;
}

.inner {
  background-color: var(--colorAccentBg);
}


/*This fixes up the fullscreen spacing*/
.fullscreen #webpage-stack {
  margin: 0px;
  border-radius: 0px;
}

#webpage-stack {
  margin: 10px 10px 35px 40px;
  border-radius: 10px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--colors-border) !important;
}

/*
.tabs-left .tabbar-wrapper,
.tabs-right .tabbar-wrapper {
  position: absolute;
  z-index: 1;
}

#tabs-tabbar-container {
  border-radius: 0 0 10px 0 !important;
}

.button-toolbar {
  border-radius: 0 10px 0 0 !important;
}
/*
.tabbar-wrapper>#tabs-tabbar-container>* {
  opacity: 1 !important;
}

.tabbar-wrapper:hover>#tabs-tabbar-container>* {
  opacity: 1 !important;
}
*/

/*
.tabbar-wrapper {
  --width: 200px;
  transform: translateX(-105px);
  opacity: 0.0;
  transition-duration: 200ms;
  --overflow: hidden;
  --width: 35px !important;
  width: var(--width) !important;
  padding: 0 0 35px 0;

  --width: 250px !important;

  --border-radius: 10px;
  --background-color: rgba(1, 1, 1, 0.7) !important;
  --background-color: #c8c8c830 !important;
  --background-color: var(--colorAccentBgFaded) !important;
}

.tabbar-wrapper:hover,
.tabbar-wrapper:active
 {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms 100ms ease;
  --transition: transform 500ms 300ms ease, opacity 300ms 0s ease;
  --transform: translate(100px);
  --transition-duration: 500ms;
  --transition-duration: 500ms;
  --transition-delay: 2s, 0;


  --width: 250px !important;
  --transition-duration: 2s;
  --background-color: red;
  --transition: 500ms ease-out !important;
  --transition: width 4s;
  --transition-property: transform, width, background-color, font-size, transform, color;
}
*/
.tabbar-wrapper {
  background: none !important;
}

.tabbar-wrapper>* {
  border-radius: 0 20px 20px 0 !important;
  background: none !important;
}

.tabbar-wrapper:first-of-type {
  position: absolute !important;
  z-index: 200;
  width: var(--cs-main-width) !important;
  height: 100vh;
  margin-bottom: 100px;

  background-color: var(--colors-tertiary) !important;
  opacity: 0.0;
  transform: translateX(-160px);

  transition-duration: 200ms !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--colors-border) !important;
  /*
  .is-pinned {
    --padding-inline: 6px;
    width:auto;
    margin:0;
    padding:0;
    border-radius:10px;
    
    .title {
      display:none;
    }
    .tab-header {
      padding:6px;
    }
  }
  */
}

.tabbar-wrapper .button-toolbar:first-of-type {
  width: var(--cs-main-width) !important;
}

#tabs-tabbar-container {
  width: var(--cs-main-width) !important;
}

/*this is the tabbar*/
.tabbar-wrapper:first-of-type:hover,
.tabbar-wrapper:first-of-type:active {
  opacity: 1;
  transition: transform 200ms 200ms, opacity 100ms 0s ease !important;
  transform: translateX(0);
}

/*this is the web content*/
/*:root:has(.tabbar-wrapper:hover) ~ :root .#webpage-stack:first-of-type {*/
#webpage-stack {
  transition-duration: 200ms;
}

:root:has(.tabbar-wrapper:hover) #webpage-stack {
  transform: translateX(100px) !important;
  transition: transform 600ms 200ms ease !important;
}

/*
#webview-container {
  transition: transform 500ms 0ms ease;
}
.tabbar-wrapper:hover~#webview-container {
  transform: translateX(155px);
  transition: transform 300ms 100ms ease;
  --position: absolute;
  opacity: 1;
  --transition: transform 500ms 300ms ease, opacity 300ms 0s ease;
}
*/



footer .toolbar .button-icon {
  --color: var(--colorAccentBgDarker);
  --color: var(--colorBg);
  color: var(--colorHighlightFg);
  --color: black;
  --filter: invert(1);
  --mix-blend-mode: difference;
  --backdrop-filter: invert(100%);
}

footer .toolbar {
  background-color: var(--colorAccentBgDarker);
}

footer::after {
  background-color: var(--colorAccentBgDarker) !important;
  background: none !important;
}

#panels-container {
  background-color: var(--colorAccentBg);
  border: none;
  margin: 0 0 35px 0;
}

#panels-container .button-icon {
  --color: var(--colorHighlightBg);
  color: var(--colorHighlightFg);
  --color: black;
  --filter: invert(1);
}

#panels {
  border: none !important;
}

.panel-group {
  border-radius: 10px 0 0 10px;
  --margin: 4px;
  --margin-right: 0px;
  --opacity: 0.9;
}

#browser:not(.inner, .narrow-tiling) .tiled.visible>* {
  background: none !important;
  box-shadow: none !important;
}